// BOOTSTRAP
$font: 'Open Sans', sans-serif;
$font-weights:
(
    light: 300,
    normal: 400,
    bold: 800
);

@mixin font-weight($size)
{
    font-weight: map-get($font-weights, $size);
}


body
{
    @include font-weight(normal);
    font-family: $font;
}